@import url('https://fonts.googleapis.com/css2? family= Krona+One & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Krona+One &família = Montserrat & display=swap');

:root{
    --cor-primaria:#000000;
    --cor-secundaria: #3F0071;
    --cor-terciaria: #fff;
}
*{
    margin: 0;
    padding: 0;

}
body{
    box-sizing: border-box;
    background-image : linear-gradient(75deg, var(--cor-primaria),var(--cor-secundaria));
    color: var(--cor-terciaria);
}

h1{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}
p{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.head{
    padding: 2% 0% 0% 15%;
}
.head_menu{
    display: flex;
    gap: 80px;
}
.head_menu_link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 37.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao{
    padding: 6% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.redes{
    font-family: 'Krona One', sans-serif;
    padding: 24px;
    text-align: center;
    color: var(--cor-terciaria);
}
.botao{
    display: flex;
    justify-content: space-between;/*alinha os contudos*/
    align-items: center;
    gap: 50px;
}
.botao-insta{
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.56rem;
    padding: 7px 0px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: 'krona one', sans-serif ;
    font-weight: 25rem;
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
}
.botao-github{
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.56rem;
    padding: 7px 0px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: 'krona one', sans-serif;
    font-weight: 25rem;
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
}
.botao-insta:hover{
    cursor: -webkit-grabbing;
}
.botao-github:hover{
    cursor: -webkit-grabbing;
}
.eu{
    width: 50%;
    padding: 5%;;
    display: block;
    justify-content: center;
}
.rodape{
    padding: 24px;
    text-align: center;
    color: var(--cor-terciaria);
    background-image : -moz-element();
}
@media (max-width: 1200px){
    .head{
        padding: 10% ;
    }
    .head_menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}
